{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Strona</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="wrapper">

<div class="navbar">
    <img src="{% static 'images/logo.png' %}" alt="3d print hub" width="70px" class="img-logo">
    {% if user.is_authenticated %}
        <p class="user-info">Jesteś zalogowany jako: <b>{{ user.first_name }} {{ user.last_name }}</b>Login:<b>{{ user.username }}</b></p>
        <a href="{% url 'logout' %}" class="button-logout">Wyloguj</a>
    {% else %}
        <form class="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" placeholder="Twój login">
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="password" placeholder="Twoje hasło">
            <button type="submit">Zaloguj</button>
            <a href="{% url 'register' %}" class="button-register">Zarejestruj</a>
        </form>
    {% endif %}
</div>

<div>
    {% if error_message %}
        <b><p class="error-message">{{ error_message }}</p></b>
    {% endif %}
</div>

<div class="content">

    <div class="center-container">
        <div class="left-container">
            <a href="{% url 'printing_list' %}" class="menu-link"><b>Kolejka drukowania</b></a>
            <a href="{% url 'printer_list' %}" class="menu-link">Moje drukarki</a>
            <a href="{% url 'project' %}" class="menu-link">Moje projekty</a>
            <a href="{% url 'filament' %}" class="menu-link">Filamenty</a>
            <a href="{% url 'parts' %}" class="menu-link">Części</a>
        </div>

        <div class="right-container">
                <table class="queue-table">
                    <thead>
                        <tr>
                            <th>Podgląd</th>
                            <th>Nazwa</th>
                            <th>Drukarka</th>
                            <th>Materiał</th>
                            <th>Ile potrzeba</th>
                            <th>Akcje:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in printing_list %}
                            <tr>
                                <td><img src="{{ item.project.image.url }}" alt="Podgląd" width="100" height="100"></td>
                                <td>{{ item.project.name }}</td>
                                <td>{{ item.project.printer }}</td>
                                <td>{{ item.project.material }}</td>
                                <td>{{ item.project.filament_needed }}</td>
                                <td>
                                    <div>
                                        <form method="post" action="{% url 'move_up' item.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="button-details">Wyżej</button>
                                        </form>
                                    </div>

                                    <div>
                                        <form method="post" action="{% url 'delete_project' item.project.id %}">
                                            {% csrf_token %}
                                            <button type="submit">Usuń</button>
                                        </form>
                                    </div>
                                    <div>
                                        <form method="post" action="{% url 'move_down' item.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="button-details">Niżej</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


        </div>
    </div>
</div>

    <footer class="bottom-bar">
        <img src="../static/images/logo.png" alt="3d print hub" width="70px">
    </footer>
</div>
</body>
</html>